<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>FindParking</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicons/favicon.ico">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
      <link rel="stylesheet" href="/css/homestyle.css">

  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand" href="#"><img src="assets/img/icons/logo.png" alt="" width="30" /><span class="text-1000 fs-1 ms-2 fw-medium">Find<span class="fw-bold">Parking</span></span></a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto border-bottom border-lg-bottom-0 pt-2 pt-lg-0">
            </ul>
            <form class="d-flex py-3 py-lg-0">
              <a class="btn btn-outline-danger rounded-pill order-0" href="/signup">Sign up </a>
              <a class="btn btn-link text-1000 fw-medium order-1 order-lg-0" href="/login">Sign in </a>


            </form>
          </div>
        </div>
      </nav>


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pb-6">

        <div class="container">
          <div class="row flex-center">

            <div class="t col-md-7 col-lg-6 mt-5 text-center text-md-start">
              <h1 class="fw-medium ">find your own parking <br /> with <span class="fw-bold">findParking.</span></h1>
              <p class="mt-3 mb-4">Make finding parking much easier, faster with <span class="t fw-medium">findParking </span></p><a class="btn btn-lg btn-danger hover-top btn-glow " href="/signup">Get Started </a>
            </div>
            <div class="col-lg-6 col-md-5 order-md-1"><img class="img-fluid" src="/images/home.png" alt="" /></div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->




      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-4">

        <div class="container">
          <div class="card py-5 border-0 shadow-sm">
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  <div class="border-end d-flex justify-content-md-center">
                    <div class="mx-2 mx-md-0 me-md-5">
                      <div class="badge badge-circle bg-soft-danger">
                        <svg class="bi bi-person-fill" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#F53838" viewBox="0 0 16 16">
                          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                        </svg>
                      </div>
                    </div>
                    <div>
                      <p class="fw-bolder text-1000 mb-0">50+ </p>
                      <p class="mb-0">Owners </p>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="border-end d-flex justify-content-md-center">
                    <div class="mx-2 mx-md-0 me-md-5">
                      <div class="badge badge-circle bg-soft-danger">
                        <svg class="bi bi-geo-alt-fill" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#F53838" viewBox="0 0 16 16">
                          <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"></path>
                        </svg>
                      </div>
                    </div>
                    <div>
                      <p class="fw-bolder text-1000 mb-0">40+ </p>
                      <p class="mb-0">Parking </p>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="d-flex justify-content-md-center">
                    <div class="mx-2 mx-md-0 me-md-5">
                      <div class="badge badge-circle bg-soft-danger">
                        <svg class= xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#F53838" viewBox="0 0 16 16">
                          <path d="M2 9a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1a2 2 0 0 0-2-2H2zm.5 3a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm2 0a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zM2 2a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2zm.5 3a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm2 0a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1z"></path>
                        </svg>
                      </div>
                    </div>
                    <div>
                      <p class="fw-bolder text-1000 mb-0">80+ </p>
                      <p class="mb-0">Costumer </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>



      <section class="bg-100 py-7 text-center">

        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8 col-lg-5">
              <h2>FIND PARKING <br /> Anywhere you want</h2>
              <p>See findParking everywhere to make it easier find parking location</p>
            </div>
            <div class="pt-8"><img class="img-fluid" src="/images/map.png" alt="" /></div>
          </div>
        </div>
        <!-- end of .container-->

      </section>

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="vendors/@popperjs/popper.min.js"></script>
    <script src="vendors/bootstrap/bootstrap.min.js"></script>
    <script src="vendors/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="assets/js/theme.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
  </body>

</html>
